body{
  background-color: rgb(23, 23, 23);
  
}
#ticket-pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
   
  }
  
  .ticket-option1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1px solid rgb(38, 38, 38);
    border-top-left-radius: 20px;
    
  }
  .ticket-option2 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    
  }
  .ticket-option3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border-right: 1px solid rgb(38, 38, 38);
    
   
    
  }
  
  input[type="text"] {
    width: 40px;
    text-align: center;
    margin: 10px 0;
  }
  
  button {
    width: 50px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(187, 41, 58);
    color: white;
    cursor: pointer;
  }

  .vuxen-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
  }
  .barn-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
  }
  .pensionar-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
  }

  .price-tag-name{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .total-price-css{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-left: 100px;
  }
  .quantity{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .ticket-container{
    box-shadow: 0px 0px 90px 80px #000000;
    border-radius: 20px;
    border-bottom: 1px solid rgb(38, 38, 38);
    
  }